{{ block title }}
    Sliders
{{ endblock }}
{{ block content }}

    <style>
        .mgslider-wrapper {
            border-spacing: 10px;
        }
        .mgslider-show {
            text-align: center;
        }
        .mgslider-limit {
            width: 10%;
            min-width: 75px;
            height: 40px;
            margin: 100px;
            text-align: center;
            background: #eee;
            border: 1px solid #888;
        }
        .mgslider-limit, .mgslider-value {
            font-variant-numeric: tabular-nums;
        }
        .mgslider-before {
            height: 16px;
            width: 100%;
            background: #1e5bff;
        }
        .mgslider-feedback {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>

    {{ formfield_errors 'price' }}
    {{ formfield_errors 'number' }}
    <p>Click the blue bars to reveal the sliders.</p>

    <div id="sliders_here"></div>

    <script src="{{ static 'mgslider.js' }}"></script>

    <script>
        $(document).ready(function (event) {
            slider1 = new mgslider("price", -5, 10, 0.25);
            slider1.recall = true; // Optional line to remember value across errors
            slider1.print(document.getElementById("sliders_here"));

            slider2 = new mgslider("number", 0, 50, 1);
            slider1.recall = true; // Optional line to remember value across errors
            slider2.print(document.getElementById("sliders_here"));
        });
    </script>

    {{ next_button }}

{{ endblock }}
